#chart-panel {
  display: block;
  flex: 1 1 100%;
  position: relative;
  overflow: hidden;
  min-height: 30%;
  padding: 0 2px 2px;
  background-color: #fff;
  cursor: crosshair;
  border-radius: 0 0 6px 6px;
}

#scroll-button {
  box-shadow: 0 0 5px 1px #0000002f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  bottom: 60px;
  right: 80px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  cursor: default;
  border-radius: 6px;
}

#scroll-button div {
  content: url(../images/scroll-time-scale.svg);
}
