@import url(left-toolbar.css);
@import url(chart-panel.css);
@import url(report-panel.css);
@import url(right-toolbar.css);

* {
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
  font-family: system-ui, 'Segoe UI', 'Helvetica Neue';
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #e7e2e2;
  color: #212529;
}

h2 {
  margin: 0 0 0.5rem 0;
}

p {
  margin: 0;
}

button {
  padding: 0;
  background-color: transparent;
  border: 0;
}

button:hover {
  background-color: #f5f5f5 !important;
}

button:focus-visible {
  outline: none;
  background-color: #f5f5f5;
}

button div {
  pointer-events: none;
}

#horizontal-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-x: hidden;
}

#vertical-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  min-width: 0;
}

.placeholder {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.align-start {
  text-align: start;
}

.align-end {
  text-align: end;
}
