#report-panel {
  display: flex;
  flex-direction: column;
  min-height: auto;
  max-height: 70%;
}

#report-panel-handle {
  min-height: 4px;
  cursor: ns-resize;
}

#report-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
  background-color: #fff;
  border-bottom: 1px solid #e0e3eb;
  border-radius: 6px 6px 0 0;
}

#report-tab-buttons,
#report-size-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#report-tab-buttons button {
  height: 34px;
  margin-left: 2px;
  padding: 0 8px;
  border-radius: 6px;
  font-size: 14px;
  color: #212529;
}

#report-tab-buttons button[data-status='active'] {
  color: #2962ff;
}

#report-size-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  margin-right: 2px;
  border-radius: 6px;
}

#hide-button[data-status='opened'] div {
  content: url(../images/report-panel-opened.svg);
}

#hide-button[data-status='closed'] div {
  content: url(../images/report-panel-closed.svg);
}

#stretch-button[data-status='packed'] div {
  content: url(../images/report-panel-packed.svg);
}

#stretch-button[data-status='stretched'] div {
  content: url(../images/report-panel-stretched.svg);
}

#report-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 390px;
  background-color: #fff;
}

#overview-report,
#performance-report,
#trades-report {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}

#metrics-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  font-size: 14px;
}

#chart-container {
  flex-grow: 1;
  width: 100%;
  height: 0px;
  padding: 0 16px 10px;
}

#metrics-container div :first-child {
  font-size: 12px;
  font-weight: 600;
}

#metrics-container div :last-child {
  font-size: 14px;
  font-weight: 400;
}

#performance-report,
#trades-report {
  display: none;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  font-size: 14px;
}

.thead,
.tbody {
  width: 100%;
}

.thead {
  position: sticky;
  top: 0px;
  background-color: #fff;
}

.th {
  display: flex;
  flex-direction: column;
  padding: 10px 16px 6px 16px;
  font-weight: 400;
  color: #6a6d78;
  text-align: start;
}

#performance-report .th,
#performance-report .td {
  width: 20%;
}

#trades-report .thead .tr :first-child {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#report-arrow {
  margin-left: 3px;
}

#report-arrow[data-status='arrow-up'] {
  content: url(../images/arrow-up.svg);
}

#report-arrow[data-status='arrow-down'] {
  content: url(../images/arrow-down.svg);
}

.tr {
  display: flex;
}

#performance-report .tbody .tr {
  border-bottom: 1px solid #e9e6e6;
}

#trades-report .tbody .tr {
  border-bottom: 1px solid #d1d4dc;
}

.w-10 {
  width: 10%;
}

.w-12 {
  width: 12%;
}

.w-14 {
  width: 14%;
}

.w-18 {
  width: 18%;
}

.td div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.td div :nth-child(n + 2) {
  font-size: 12px;
}

.h-100 {
  height: 100px;
  padding: 16px;
}

.h-50 {
  height: 50px;
  padding: 16px;
}

.border {
  height: 49px;
  padding: 16px;
  border-bottom: 1px solid #e9e6e6;
}

.tbody .tr:hover {
  background-color: #f5f5f5;
}

#report-placeholder {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 6px;
}

#report-placeholder img {
  margin-bottom: 10px;
}

#report-panel ::-webkit-scrollbar {
  width: 6px;
}

#report-panel ::-webkit-scrollbar-thumb {
  background-color: #d3cdcd;
  border-radius: 3px;
}
