#right-toolbar {
  display: flex;
  flex-direction: row;
  flex: 0 0 350px;
  max-width: 100%;
  margin-left: 4px;
}

#info-wrapper {
  width: 100%;
  background-color: #fff;
  border-right: 1px solid #e0e3eb;
}

#strategies-list,
#strategy-description,
#alerts-list {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
}

#strategies-list {
  display: flex;
}

#strategy-description {
  display: none;
}

#alerts-list {
  display: none;
}

#info-wrapper .header {
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid #e0e3eb;
  font-weight: 600;
  line-height: 22px;
}

#info-wrapper .body {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

#placeholder-4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

#strategies-list button {
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid #edf0f7;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
  text-align: start;
}

#strategies-list button[data-status='active'] {
  color: #2962ff;
}

#strategy-description section {
  width: 100%;
}

#strategy-description .title {
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid #edf0f7;
  font-size: 14px;
  font-weight: 400;
  color: #6a6d78;
  text-align: start;
}

#strategy-description .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
}

#general-info .info {
  border-bottom: 1px solid #edf0f7;
}

#general-info .info:hover {
  background-color: #f5f5f5;
}

#parameter-values input {
  width: 70px;
  height: 29px;
  padding: 4px 6px;
  border: 1px solid #d1d4dc;
  border-radius: 4px;
  font-size: 14px;
  color: #212529;
}

#parameter-values input:focus {
  outline: none;
  padding-left: 5px;
  border: 2px solid #2962ff;
}

@keyframes borderAnimation {
  0% {
    border-color: #d1d4dc;
  }
  50% {
    border-color: #f23645;
  }
  100% {
    border-color: #d1d4dc;
  }
}

.animate-border {
  animation: borderAnimation 1s;
}

#alerts-list .alert {
  width: 100%;
}

#alerts-list .body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 16px;
  border-bottom: 1px solid #edf0f7;
  font-size: 16px;
  font-weight: 400;
}

#alerts-list .target {
  content: url(../images/target-strategy.svg);
  border-radius: 6px;
}

#alerts-list .body .header:hover {
  background-color: #f5f5f5;
}

#alerts-list .target:hover {
  background-color: #fff;
}

#alerts-list .hidden-content {
  display: none;
  flex-direction: column;
  align-items: start;
  width: 100%;
  border-bottom: 1px solid #edf0f7;
  font-size: 14px;
}

#alerts-list .tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid #edf0f7;
}

#alerts-list .tr:last-child {
  border-bottom: none;
}

#alerts-list .tr:hover {
  background-color: #f5f5f5;
}

#toolbar-buttons {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 46px;
  background-color: #fff;
}

#toolbar-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-top: 4px;
  border-radius: 6px;
}

#strategies-button[data-status='opened'] div {
  content: url(../images/strategies-opened.svg);
}

#strategies-button[data-status='closed'] div {
  content: url(../images/strategies-closed.svg);
}

#description-button[data-status='opened'] div {
  content: url(../images/info-opened.svg);
}

#description-button[data-status='closed'] div {
  content: url(../images/info-closed.svg);
}

#alerts-button[data-status='opened'] div {
  content: url(../images/alerts-opened.svg);
}

#alerts-button[data-status='closed'] div {
  content: url(../images/alerts-closed.svg);
}

html[data-status='TESTING'] #placeholder-4 {
  display: flex;
}

html[data-status='AUTOMATION'] #placeholder-4 {
  display: none;
}

#right-toolbar ::-webkit-scrollbar {
  width: 3px;
}

#right-toolbar ::-webkit-scrollbar-thumb {
  background-color: #d3cdcd;
  border-radius: 2px;
}
